<div class="card shadow-sm border-0 mb-4">
    <div class="table-responsive">
        <table class="table table-hover align-middle mb-0 small">
            <thead class="bg-light text-secondary text-uppercase fw-bold">
                <tr>
                    <th class="border-0">Note</th>
                    <th class="ps-4 border-0">Animal ID</th>
                    <th class="border-0">Species</th>
                    <th class="border-0">Sex</th>
                    <th class="border-0 text-center">Age</th>
                    <th class="border-0">Events</th>
                    {% if show_study_column|default(True) %}<th class="border-0">Studies</th>{% endif %}
                    {% if show_termination_action|default(True) %}<th class="pe-4 border-0 text-end"></th>{% endif %}
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for animal in animals %}
                <tr class="align-middle {{ 'table-light' if not animal.is_active }}">
                    <td>
                        <button type="button"
                            class="btn btn-sm btn-{{ '' if animal.notes else 'outline-' }}secondary shadow"
                            data-bs-toggle="popover"
                            data-bs-trigger="click"
                            data-bs-html="true"
                            data-bs-container="body"
                            data-bs-content-id="#notes-content-{{ animal.id }}">
                        <i class="fas fa-sticky-note"></i>
                        </button>
                    </td>
                    <td style="width: 200px">
                        {% if not animal.is_active or animal.custom_id %}
                            {# Display existing ID #}
                            <div>{{ animal.custom_id }}</div>
                        {% else %}
                            {# "Activate" Input Field #}
                            <form action="{{ url_for('activate_animal', animal_id=animal.id) }}" method="POST" class="m-0 p-0">
                                <div class="input-group input-group-sm">
                                    <input type="text"
                                           name="custom_id"
                                           class="form-control"
                                           placeholder="Assign ID"
                                           required>
                                    <button class="btn btn-secondary btn-sm shadow-sm" type="submit">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </td>
                    <td>{{ animal.species.name }}</td>
                    <td>{{ animal.sex_symbol }}</td>
                    <td class="text-center">{{ animal.age_display(age_unit|default('day')) }}</td>

                    <td>
                        <button type="button" class="btn btn-{{ 'outline-' if animal.events.count() == 0 else '' }}secondary btn-sm shadow-sm"
                                data-bs-toggle="popover"
                                data-bs-trigger="click"
                                data-bs-container="body"
                                data-bs-html="true"
                                title="Event History"
                                data-bs-content-id="#events-popover-{{ animal.id }}">
                            {{  animal.events.count() }}
                        </button>
                        <button type="button" onclick="resetEventModal('{{  animal.id }}'); toggleModal('schedule-event-modal-{{ animal.id }}')" class="btn btn-secondary btn-sm shadow-sm"><i class="fas fa-calendar-plus"></i></button>
                    </td>

                    {% if show_study_column|default(True) %}
                    <td>
                        {# 1. The Trigger Button #}
                        <div class="btn-group shadow-sm">
                            <button type="button" class="btn btn-{{ 'outline-' if animal.studies.count() == 0 else '' }}secondary btn-sm px-2"
                                    data-bs-toggle="popover"
                                    data-bs-trigger="click"
                                    data-bs-container="body"
                                    data-bs-html="true"
                                    title="Study Enrollment: {{ animal.custom_id }}"
                                    data-bs-content-id="#studies-popover-{{ animal.id }}">
                                {{ animal.studies.count() }}
                            </button>
                        </div>
                    </td>
                    {% endif %}

                    {% if show_termination_action|default(True) %}
                        <td class="pe-4 text-end">
                                {% if animal.is_active and animal.custom_id %}
                                    <button type="button" onclick="toggleModal('term-modal-{{ animal.id }}')" class="btn btn-secondary btn-sm shadow" title="Terminate">
                                        <i class="fas fa-crosshairs fa-sm"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </td>
                    {%  endif %}
                </tr>
                {% else %}
                <tr>
                    <td colspan="8" class="text-center py-5 text-muted">No animals found in this category.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for animal in animals %}
    {% include 'partials/animal_modals.html' %}
{% endfor %}