{% extends "partials/form_modal.html" %}
{% import "macros.html" as macros %}

{% block main %}
{{ form.hidden_tag() }}
<input type="hidden" name="event_id" id="edit-event-id-{{ uid }}" value="">
<div class="row g-4">
    <div class="col-5">Date</div>
    <div class="col-5">Weight</div>
    <div class="col-2"><button onclick="addField('weight')" class="btn btn-sm"><i class="fas fa-clipboard-check"></i> +</button></div>
</div>
<fieldset id="weight-container">
{% for entry in form.weights %}
    {{ entry.hidden_tag() }}
    <div id="weight-{{ loop.index0 }}" class="row g-4 weight-group">
        <div class="col-5">
            {{ macros.render_field(entry.date, False) }}
        </div>
        <div class="col-5">
            {{ macros.render_field(entry.weight, False) }}
        </div>
        <div class="col-2">
            <button type="button" onclick="removeField('weight', this)" class="btn btn-sm"><i class="fas fa-trash"></i></button>
        </div>
    </div>
{% endfor %}
</fieldset>
{% endblock %}