<div id="create-setting-wrapper-{{type}}">
    <form id="create-setting-{{type}}" 
          hx-post="{{ url_for('main.create_setting', item_type=type) }}" 
          hx-target="#list-{{ type }}" 
          hx-swap="beforeend"
          hx-indicator="#indicator-{{ type }}"
          hx-on::after-request="if(event.detail.xhr.status === 200) this.reset()"
          autocomplete="off"
          class="input-group input-group-sm mb-3">
        {{ blank_form.hidden_tag() }}
        {% for field in blank_form if field.widget_type != 'hidden' %}
        {{ field(class="form-control form-control-sm") }}
        {% endfor %}
        <button class="btn btn-primary" type="submit">Add</button>
        <div id="indicator-{{ type }}" class="htmx-indicator spinner-border spinner-border-sm text-primary ms-2" role="status"></div>
    </form>
    <div id="error-{{ type }}"></div>
</div>
