{% extends "base.html" %}

{% block header %}
Breeding Management
{% endblock %}

{% block content %}
<div class="card hsadow-sm">
    <div class="card-header d-flex justify-content-between">
        Breeding Pairs
            <button class="btn btn-sm"
                    onclick="openModal('{{ url_for('breeding.create_breeding_pair_modal') }}')"><i class="fas fa-heart"> +</i></button>
    </div>

    <div class="card-body table-responsive">
        <table class="table table-hover align-middle mb-0 small">
            <thead>
            <tr>
                <th>ID</th>
                <th>Male</th>
                <th>Female</th>
                <th>Start Date</th>
                <th>Total Litters</th>
                <th>To Wean</th>
            </tr>
            </thead>
            <tbody>
            {% for pair in pairs %}
            <tr>
                <td><a href="{{ url_for('breeding.view_breeding_pair', breeding_pair_id=pair.id) }}">{{ pair.custom_id }}</a></td>
                <td><a href="{{ url_for('animals.view_animal', animal_id=pair.male.id) }}">{{ pair.male.custom_id }}</a></td>
                <td><a href="{{ url_for('animals.view_animal', animal_id=pair.female.id) }}">{{ pair.female.custom_id }}</a></td>
                <td>{{ pair.start_date.strftime('%B %d, %Y') }}</td>
                <td>{{ pair.litters.count() }}</td>
                <td>{{ pair.litters.filter(wean_date == None).count() }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function toggleFields(selectElement, sectionElement) {
        console.log(selectElement.value)
        if (selectElement.value === "__None" || selectElement.value === "") {
            sectionElement.removeAttribute("hidden");
        } else {
            sectionElement.setAttribute("hidden", "hidden");
        }
    }

    document.addEventListener("change", function(event) {
        if (event.target && event.target.id === 'male-existing') {
            toggleFields(event.target, document.getElementById('male-new-section'));
        }
        if (event.target && event.target.id === 'female-existing') {
            toggleFields(event.target, document.getElementById('female-new-section'));
        }
    })

</script>
{% endblock %}
