{% import 'macros.html' as macros %}

{% extends "base.html" %}

{% block header %}
Cages
{% endblock %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-header d-flex justify-content-between">
        <div>
            <i class="fas fa-filter me-2"></i>Filters & Sorting
            <span class="badge text-secondary border ms-3 fw-normal">
                {{ cages|length }} Results
            </span>
        </div>
        <a href="{{ url_for('cages.list_cages') }}" class="btn btn-link btn-sm text-decoration-none text-muted p-0" title="Reset all filters">
            <i class="fas fa-undo-alt me-1"></i>
        </a>
    </div>

    <div class="card-body">
        <div class="row g-3">
            {{ macros.filter_button_group('status_filter', 'Status', filters,  [('active', 'Active'), ('inactive', 'Inactive'), ('all', 'All')]) }}
            {{ macros.filter_button_group('sort_by', 'Sort By', filters,  [('custom_id', 'ID'), ('age', 'Age')]) }}
            {{ macros.filter_button_group('age_unit', 'Age Unit', filters,  [('day', 'D'), ('week', 'W'), ('month', 'M')]) }}
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between">
        Cages
        <button class="btn btn-sm"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Add new cage"
                onclick="openModal('{{ url_for('cages.create_cage_modal') }}')"><i class="fas fa-boxes"> +</i></button>
    </div>
    <div class="card-body">
        <table class="table table-hover align-middle mb-0 small table-striped">
            <thead class="card-header bg-light text-secondary text-uppercase fw-bold border-bottom">
                <tr>
                    <th rowspan=2>Cage ID</th>
                    <th rowspan=2>Species</th>
                    <th rowspan=2>Sex</th>
                    <th rowspan=2>Age</th>
                    <th rowspan=1 colspan=2 class="text-center">Animals</th>
                    <th rowspan=2>Source</th>
                    <th rowspan=2>Notes</th>
                </tr>
                <tr>
                    <th>Original</th>
                    <th>Remaining</th>
                </tr>
            </thead>
            <tbody>
                {% for cage in cages %}
                <tr>
                    <td><a href="{{ url_for('cages.view_cage', cage_id=cage.id) }}">{{ cage.custom_id }}</a></td>
                    <td>{{ cage.species.name }}</td>
                    <td>{{ cage.sex_symbol }}</td>
                    <td>{{ cage.age_display(filters['age_unit']) }}</td>
                    <td>{{ cage.animals.count() }}</td>
                    <td>{{ cage.animals.filter_by(termination_date=None).count() }}</td>
                    <td>{{ cage.source_display }}</td>
                    <td>{{ cage.notes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
