{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Histology
{% endblock %}

{% set filter_options = {
        'sort_by': [('id', 'ID'), ('euthanasia', 'Euthanasia Date')],
        'analysis_filter': [('all', 'All'), ('pending', 'Pending'), ('imaged', 'Imaged'), ('needs_review', 'Needs Review'), ('done', 'Done')],
        'immunolabel_filter': [('all', 'All'), ('pending', 'Pending'), ('labeled', 'Labeled')],
        } %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-header d-flex justify-content-between">
        <div>
            <i class="fas fa-filter me-2"></i>Filters & Sorting
            <span class="badge bg-light text-secondary border ms-3 fw-normal">
                {{ ears|length }} Results
            </span>
        </div>
        <a href="{{ url_for('histology.list_histology') }}" class="btn btn-link btn-sm text-decoration-none text-muted p-0" title="Reset all filters">
            <i class="fas fa-undo-alt me-1"></i>
        </a>
    </div>

    <div class="card-body pt-1 pb-3 px-3">
        <div class="row g-3">
            {{ macros.filter_button_group('immunolabel_filter', 'Immunolabel Status', filters, filter_options['immunolabel_filter']) }}
            {{ macros.filter_button_group('analysis_filter', 'Analysis Status', filters, filter_options['analysis_filter']) }}
            {{ macros.filter_button_group('sort_by', 'Sort By', filters, filter_options['sort_by']) }}
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between">
        Ears
    </div>
	<div class="card-body">
        <table class="table table-hover align-middle mb-0 small">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>ID</th>
                    <th>Euthanasia</th>
                    <th>Cryoprotection</th>
                    <th>Dissection</th>
                    <th>Immunolabel</th>
                    <th>Panel</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for ear in ears %}
                <tr>
                    <td>
                        <button type="button"
                            class="btn btn-sm btn-{{ '' if ear.notes else 'outline-' }}secondary"
                            data-bs-toggle="popover"
                            data-bs-container="body"
                            data-bs-trigger="hover"
                            data-bs-content="<dl><dt>Cage</dt><dd>{{ ear.animal.cage.notes or 'No notes' }}</dd><dt>Animal</dt><dd>{{ ear.animal.notes or 'No notes' }}</dd><dt>Ear</dt><dd>{{ ear.notes or 'No notes' }}</dd></dl>"
                            onclick="openModal('{{ url_for('histology.edit_ear_note_modal', ear_id=ear.id) }}')"
                        >
                        <i class="fas fa-sticky-note"></i>
                        </button>
                    </td>
                    <td><a href="{{ url_for('histology.view_ear', ear_id=ear.id) }}">{{ ear.animal.custom_id }} {{ ear.side }}</a></td>
                    <td>{{ ear.animal.termination_date.strftime('%B %d, %Y') }}</td>
                    <td>{{ macros.format_date(ear.cryoprotection_date) }}</td>
                    <td>{{ macros.format_date(ear.dissection_date) }}</td>
                    <td>{{ macros.format_date(ear.immunolabel_date) }}</td>
                    <td>{{ ear.panel.name }}</td>
                    <td>
                        {% set img_count = ear.confocal_images|length %}
                        <button type="button"
                                class="ajax-popover btn btn-sm btn-{{ 'primary' if img_count > 0 else 'outline-secondary' }} px-2"
                                data-bs-toggle="popover"
                                data-bs-trigger="hover"
                                data-bs-html="true"
                                data-id="{{ url_for('histology.view_ear_images_popover', ear_id=ear.id) }}"
                                title="Images for {{ ear.animal.custom_id }}"
                        >
                            <i class="fas fa-camera me-1"></i>{{ img_count }}
                        </button>
                        <button type="button" class="btn btn-sm" onclick="openModal('{{ url_for('histology.edit_ear_histology_modal', ear_id=ear.id) }}')"><i class="fas fa-pencil"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
