{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Histology
{% endblock %}

{% set filter_options = {
        'sort_by': [('id', 'ID'), ('euthanasia', 'Euthanasia Date')],
        'analysis_filter': [('all', 'All'), ('pending', 'Pending'), ('imaged', 'Imaged'), ('needs_review', 'Needs Review'), ('done', 'Done')],
        'immunolabel_filter': [('all', 'All'), ('pending', 'Pending'), ('labeled', 'Labeled')],
        } %}

{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-header d-flex justify-content-between">
        <div>
            <i class="fas fa-filter me-2"></i>Filters & Sorting
            <span class="badge bg-light text-secondary border ms-3 fw-normal">
                {{ ears|length }} Results
            </span>
        </div>
        <a href="{{ url_for('histology.list_histology') }}" class="btn btn-link btn-sm text-decoration-none text-muted p-0" title="Reset all filters">
            <i class="fas fa-undo-alt me-1"></i>
        </a>
    </div>

    <div class="card-body pt-1 pb-3 px-3">
        <div class="row g-3">
            {{ macros.filter_button_group('immunolabel_filter', 'Immunolabel Status', filters, filter_options['immunolabel_filter']) }}
            {{ macros.filter_button_group('analysis_filter', 'Analysis Status', filters, filter_options['analysis_filter']) }}
            {{ macros.filter_button_group('sort_by', 'Sort By', filters, filter_options['sort_by']) }}
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between">
        Ears
    </div>
	<div class="card-body">
        <table class="table table-hover align-middle mb-0 small">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>ID</th>
                    <th>Tags</th>
                    <th>Euthanasia</th>
                    <th>Cryoprotection</th>
                    <th>Dissection</th>
                    <th>Immunolabel</th>
                    <th>Panel</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for ear in ears %}
                {% include 'partials/ear_row.html' %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
