{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Breeding Pair {{ pair.custom_id }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header">Information</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-6">Male</dt>
                    <dd class="col-6">{{ pair.male.custom_id }}</dd>
                    <dt class="col-6">Female</dt>
                    <dd class="col-6">{{ pair.female.custom_id }}</dd>
                    <dt class="col-6">Start Date</dt>
                    <dd class="col-6">{{ pair.start_date.strftime('%B %d, %Y') }}</dd>
                    <dt class="col-6">Litters</dt>
                    <dd class="col-6">{{ pair.litters.count() }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between">
                Litters
                <button class="btn btn-sm" onclick="openModal('{{ url_for('breeding.create_litter_modal', breeding_pair_id=pair.id) }}')"><i class="fas fa-paw"> +</i></button>
            </div>
            <div class="card-body">
                <table class="table table-hover small">
                    <thead>
                        <th>Birth</th>
                        <th>Count</th>
                        <th>Age</th>
                        <th>Weaned</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for litter in pair.litters.all()|sort(attribute='dob', reverse=True) %}
                            <tr>
                                <td>{{ litter.dob.strftime('%B %d, %Y') }}</td>
                                <td>{{ litter.pup_count }}</td>
                                <td>{{ litter.age_in_days }}</td>
                                <td>{{ macros.format_date(litter.wean_date) }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-sm" onclick="openModal('{{ url_for('breeding.edit_litter_modal', litter_id=litter.id) }}')"><i class="fas fa-pencil"></i></button>
                                        <button class="btn btn-sm" onclick="openModal('{{ url_for('breeding.wean_litter_modal', litter_id=litter.id) }}')"><i class="fas fa-sitemap"></i></button>
                                        <button class="btn btn-sm" onclick="openModal('{{ url_for('breeding.delete_litter_modal', litter_id=litter.id) }}')"><i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}