{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Ear {{ ear.animal.custom_id }} {{ ear.side }}
{% endblock %}

{% block content %}
{% set ear_events_by_date = ear.events_by_date %}
<div class="row g-4">
    <div class="col-4">
        {% include 'partials/ear_notes_card.html' %}
    </div>

    <div class="col-4">
        {% include 'partials/ear_histology_card.html' %}
    </div>

    <div class="col-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header">
                <h2 class="h6 fw-bold text-uppercase mb-0"><a href="{{ url_for('animals.view_animal', animal_id=ear.animal.id) }}">Animal</a></h2>
            </div>
            <div class="card-body">
                {% set animal = ear.animal %}
                {% include "partials/animal_detail_card.html" %}
            </div>
        </div>
    </div>
</div>

{% if ear_events_by_date %}
<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h6 fw-bold text-uppercase mb-0">Events</h2>
            </div>
            <div class="card-body">
                {{ macros.render_event_list(ear_events_by_date) }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row mb-4">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h6 fw-bold text-uppercase mb-0">Files</h2>
            </div>
            <div class="card-body">
                {% with files=ear.data_files|sort(attribute='name'), animal=ear.animal %}
                    {% include 'partials/entity_data_files.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h6 fw-bold text-uppercase mb-0">Images</h2>
                <button
                    hx-get="{{ url_for('histology.create_confocal_images_modal', ear_id=ear.id) }}"
                    hx-target="#modalBody"
                    title="Add images"
                    class="btn btn-sm">
                    <i class="fas fa-camera"> +</i></button>
            </div>

            <div class="card-body table-responsive">
                {% include 'partials/confocal_image_table.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

