{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
{{ animal.species.name|capitalize }} {{ animal.custom_id }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between">
                Information
                <button class="btn btn-sm" onclick="openEditModal('Animal', {{ animal.id }})"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">
                {% include "partials/animal_detail_card.html" %}
            </div>
        </div>
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                Notes
                <button class="btn btn-sm" onclick="openEditModal('AnimalNote', {{ animal.id }})"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">{{ animal.notes }}</div>
        </div>
    </div>

    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                Events
                <button class="btn btn-sm" onclick="openEditModal('NewAnimalEvent', {{ animal.id }})"><i class="fas fa-calendar-alt"> +</i></button>
            </div>
            <div class="card-body">
                {{ macros.render_event_list(animal) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}