{% extends "base.html" %}

{% block header %}
{{ animal.species.name|capitalize }} {{ animal.custom_id }}
{% endblock %}

{% set class_map = {
    'complete': 'bg-success-subtle',
    'overdue': 'bg-danger-subtle',
    'due': 'bg-warning-subtle',
    '': '',
    } %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header">
                Information
                <button class="btn float-end btn-primary btn-sm" onclick="openEditModal('Animal', {{ animal.id }})"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-4">Cage</dt>
                    <dd class="col-8">{{ animal.cage.custom_id }}</dd>
                    <dt class="col-4">Species</dt>
                    <dd class="col-8">{{ animal.species.name }}</dd>
                    <dt class="col-4">Sex</dt>
                    <dd class="col-8">{{ animal.sex_symbol }}</dd>
                    <dt class="col-4">Birth</dt>
                    <dd class="col-8">{{ animal.dob.strftime('%B %d, %Y') }}</dd>
                    <dt class="col-4">Age</dt>
                    <dd class="col-8">{{ animal.age_display('week') }}</dd>
                    <dt class="col-4">Source</dt>
                    <dd class="col-8">{{ animal.source.name }}</dd>
                    {% if not animal.is_active %}
                        <dt class="col-4">Termination Reason</dt>
                        <dd class="col-8">{{ animal.termination_reason.name }}</dd>
                        <dt class="col-4">Termination Date</dt>
                        <dd class="col-8">{{ animal.termination_date.strftime('%B %d, %Y') }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header">
                Notes
                <button class="btn float-end btn-primary btn-sm" onclick="openEditModal('AnimalNote', {{ animal.id }})"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">{{ animal.notes }}</div>
        </div>
    </div>

    <div class="col-6">
        <div class="card shadow">
            <div class="card-header">
                Events
                <button class="btn float-end btn-primary btn-sm" onclick="openEditModal('NewAnimalEvent', {{ animal.id }})"><i class="fas fa-calendar-alt"> +</i></button>
            </div>
            <div class="card-body">
                <ol class="list-group">
                    {% for date, events in animal.events_by_date.items() %}
                        <li class="list-group-item">
                            <h3 class="text-uppercase fw-bold h6">{{ date.strftime('%B %d, %Y') }}</h3>
                            <ol class="list-group">
                                {% for event in events %}
                                    <li class="list-group-item {{ class_map[event.status] }}">
                                        <div class="btn-group float-end">
                                            <button class="btn btn-sm" onclick="openEditModal('AnimalEvent', {{ event.id }})"><i class="fas fa-pencil"></i></button>
                                            <button class="btn btn-sm"><i class="fas fa-trash"></i></button>
                                        </div>
                                        <div>{{ event.procedure.name }}</div>
                                        <div class="small muted">{{ event.notes }}</div>
                                    </li>
                                {% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>




{% endblock %}