{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Breeding Pair {{ pair.custom_id }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header">Information</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-6">Male</dt>
                    <dd class="col-6">{{ pair.male.custom_id }}</dd>
                    <dt class="col-6">Female</dt>
                    <dd class="col-6">{{ pair.female.custom_id }}</dd>
                    <dt class="col-6">Start Date</dt>
                    <dd class="col-6">{{ pair.start_date.strftime('%B %d, %Y') }}</dd>
                    <dt class="col-6">Litters</dt>
                    <dd class="col-6">{{ pair.litters.count() }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between">
                Litters
                <button class="btn btn-sm" onclick="openEditModal('AddLitter', {{ pair.id }})"><i class="fas fa-paw"> +</i></button>
            </div>
            <div class="card-body">
                <table class="table table-hover small">
                    <thead>
                        <th>Birth</th>
                        <th>Count</th>
                        <th>Age</th>
                        <th>Weaned</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for litter in pair.litters.all()|sort(attribute='dob', reverse=True) %}
                            <tr>
                                <td>{{ litter.dob.strftime('%B %d, %Y') }}</td>
                                <td>{{ litter.pup_count }}</td>
                                <td>{{ litter.age_in_days }}</td>
                                <td>{{ macros.format_date(litter.wean_date) }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-sm" onclick="openEditModal('EditLitter', {{ litter.id }})"><i class="fas fa-pencil"></i></button>
                                        <button class="btn btn-sm" onclick="openEditModal('WeanLitter', {{ litter.id }})"><i class="fas fa-sitemap"></i></button>
                                        <button class="btn btn-sm" onclick="openEditModal('DeleteLitter', {{ litter.id }})"><i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function addCageForWeaning() {
        const container = document.getElementById('cage-container');
        const itemCount = container.getElementsByClassName('cage-group').length;
        const newGroup = container.children[0].cloneNode(true);
        newGroup.id = `cage-${itemCount}`;
        container.appendChild(newGroup);
        reindexCagesForWeaning();
    };

    function removeCageForWeaning(button) {
        const container = button.closest('.cage-group')
        console.log(container);
        const containers = document.getElementById('cage-container').getElementsByClassName('cage-group');
        if (containers.length > 1) {
            container.remove()
            reindexCagesForWeaning();
        };
    };

    function reindexCagesForWeaning() {
        console.log('here');
        const containers = document.getElementById('cage-container').getElementsByClassName('cage-group');
        console.log(containers);
        Array.from(containers).forEach((group, index) => {
            group.id = `cages-${index}`;
            const elements = group.querySelectorAll('input, select');
            console.log(elements);
            elements.forEach(el => {
                const idRegex = /cages-\d+-/;
                const replacement = `cages-${index}-`;
                if (el.id) el.id = el.id.replace(idRegex, replacement);
                if (el.name) el.name = el.name.replace(idRegex, replacement);
            });
        });
    };

</script>
{% endblock %}