<dl class="row">
    <dt class="col-4">Cage</dt>
    <dd class="col-8">
        <a href="{{ url_for('cages.view_cage', cage_id=animal.cage.id) }}">
            {{ animal.cage.custom_id }}
        </a>
    </dd>
    <dt class="col-4">Species</dt>
    <dd class="col-8">{{ animal.species.name }}</dd>
    <dt class="col-4">Sex</dt>
    <dd class="col-8">{{ animal.sex_symbol }}</dd>
    <dt class="col-4">Birth</dt>
    <dd class="col-8">{{ animal.dob.strftime('%B %d, %Y') }}</dd>
    <dt class="col-4">Age</dt>
    <dd class="col-8">{{ animal.age_display('week') }}</dd>
    <dt class="col-4">Source</dt>
    <dd class="col-8">{{ animal.source.name }}</dd>
    {% if not animal.is_active %}
        <dt class="col-4">Termination Reason</dt>
        <dd class="col-8">{{ animal.termination_reason.name }}</dd>
        <dt class="col-4">Termination Date</dt>
        <dd class="col-8">{{ animal.termination_date.strftime('%B %d, %Y') }}</dd>
    {% endif %}
    <dt class="col-4">Tags</dt>
    <dd class="col-8">
        <ul class="list-group list-group-horizontal">
            {% for tag in animal.tags %}
                <li class="list-group-item">{{ tag.name }}</li>
            {% endfor %}
        </ul>

    </dd>
    <dt class="col-4">Studies</dt>
    <dd class="col-8">
        <ul class="list-group">
            {% for study in animal.studies %}
                <li class="list-group-item">
                    <a href="{{ url_for('studies.view_study', study_id=study.id) }}" class="text-decoration-none">{{ study.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </dd>
</dl>