<table class="table table-hover small">
    <thead class="bg-light text-secondary text-uppercase fw-bold">
        <tr>
            <th>Note</th>
            <th>Animal ID</th>
            <th>Species</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Events</th>
            {% if show_study_column|default(True) %}<th>Studies</th>{% endif %}
            {% if show_termination_action|default(True) %}<th></th>{% endif %}
        </tr>
    </thead>
    <tbody>
        {% for animal in animals %}
        <tr class="{{ '' if animal.is_active else 'table-danger' }}">
            <td>
                <button type="button"
                    class="btn btn-sm btn-{{ '' if animal.notes else 'outline-' }}secondary" 
                    data-bs-toggle="popover" 
                    data-bs-container="body" 
                    data-bs-trigger="hover" 
                    data-bs-content="<dl><dt>Cage</dt><dd>{{ animal.cage.notes or 'No notes' }}</dd><dt>Animal</dt><dd>{{ animal.notes or 'No notes' }}</dd></dl>"
                    onclick="openModal('{{ url_for('animals.edit_animal_note_modal', animal_id=animal.id) }}')" > <i class="fas fa-sticky-note"></i>
                </button>
            </td>
            <td>
                <a href="{{ url_for('animals.view_animal', animal_id=animal.id) }}">{{ animal.custom_id }}</a>
                {% if not animal.custom_id %}
                <button class="btn btn-sm" onclick="openModal('{{ url_for('animals.assign_animal_id_modal', animal_id=animal.id) }}')"><i class="fas fa-tag"></i></button>
                {% endif %}
            </td>
            <td>{{ animal.species.name }}</td>
            <td>{{ animal.sex_symbol }}</td>
            <td>{{ animal.age_display(age_unit|default('day')) }}</td>
            <td>
                {% if animal.event_overdue %}
                    {% set btn_class = "btn-danger" %}
                {%  elif animal.event_due %}
                    {% set btn_class = "btn-warning" %}
                {% elif animal.events.count() > 0 %}
                    {% set btn_class = "btn-secondary" %}
                {% else %}
                    {% set btn_class = "btn-outline-secondary" %}
                {% endif %}
                <button type="button" class="ajax-popover {{ btn_class }} btn btn-{{ 'outline-' if animal.events.count() == 0 else '' }}secondary btn-sm shadow-sm"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover click focus"
                        data-bs-html="true"
                        data-id="{{ url_for('animals.view_animal_events_popover', animal_id=animal.id) }}"
                        title="<div class='d-flex justify-content-between align-center'>Events <button class='btn btn-sm float-right' onclick='openModal(&quot;{{ url_for('animals.create_animal_event_modal', animal_id=animal.id) }}&quot;)'><i class='fas fa-calendar'> +</i></button></div>"
"
                >
                    {{  animal.events.count() }}
                </button>
            </td>

            {% if show_study_column|default(True) %}
            <td>
                {# 1. The Trigger Button #}
                <div class="btn-group shadow-sm">
                    <button class="btn btn-{{ 'outline-' if animal.studies.count() == 0 else '' }}secondary btn-sm"
                            data-bs-toggle="popover"
                            data-bs-trigger="hover"
                            data-bs-html="true"
                            title="Studies"
                            data-bs-content="<ul class='list-group'>{% for s in animal.studies %}<li class='list-group-item'>{{ s.name }}{% endfor %}</ul>"
                            onclick="openModal('{{ url_for('animals.add_study_modal', animal_id=animal.id) }}')">
                        {{ animal.studies.count() }}</button>
                </div>
            </td>
            {% endif %}

            {% if show_termination_action|default(True) %}
                <td>
                    {% if animal.is_active %}
                        <button type="button" onclick="openModal('{{ url_for('animals.terminate_animal_modal', animal_id=animal.id) }}')"
                                class="btn btn-secondary btn-sm shadow"
                                data-bs-toggle="tooltip"
                                title="Terminate animal">
                            <i class="fas fa-crosshairs fa-sm"></i>
                        </button>
                    {% endif %}
                </td>
            {%  endif %}
        </tr>
        {% else %}
        <tr>
            <td colspan="8" class="text-center py-5 text-muted">No animals found in this category.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
