{% extends "partials/form_modal.html" %}
{% import "macros.html" as macros %}

{% block main %}
{{ form.hidden_tag() }}
<input type="hidden" name="event_id" id="edit-event-id-{{ uid }}" value="">
{{ macros.render_field(form.date) }}
{{ macros.render_field(form.weight) }}
{{ macros.render_field(form.notes) }}
<fieldset>
{% set ns = namespace(total=0) %}
{% for feeding in form.feedings %}
    {{ feeding.hidden_tag() }}
    {% set feed_total = (feeding.feed_weight.data * feeding.quantity.data) %}
    {% set ns.total = (ns.total + feed_total) %}
    <div class="row g-4">
        <div class="col-4">
            {{ feeding.feed_name(class="border-0") }}
        </div>
        <div class="col-4 d-flex">
            {{ macros.render_field(feeding.feed_weight, False) }}
            {{ macros.render_field(feeding.quantity, False, class="feed-quantity") }}
        </div>
        <div class="col-4" id="feedings-{{ loop.index0 }}-total">
            {{ feed_total|round(1) }}g
        </div>
    </div>
{% endfor %}
<div class="row g-4 fw-bold">
    <div class="col-4">Total</div>
    <div class="col-4"></div>
    <div class="col-4" id="feedings-all-total">{{ ns.total|round(1) }}g</div>
</fieldset>
{% endblock %}