{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
{{ animal.species.name|capitalize }} {{ animal.custom_id }}
{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-6">
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between">
                Information
                <button class="btn btn-sm"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Edit animal information"
                        onclick="openModal('{{ url_for('animals.edit_animal_modal', animal_id=animal.id) }}')"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">
                {% include "partials/animal_detail_card.html" %}
            </div>
        </div>

        {% if animal.ears.count() > 0 %}
        <div class="card shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between">
            Ears
            </div>
            <div class="card-body">
                <ul class="list-group">
                {% for ear in animal.ears %}
                    <a href="{{ url_for('histology.view_ear', ear_id=ear.id) }}">
                        <li class="d-flex justify-content-between list-group-item">{{ ear.side }}
                            <button class="btn btn-sm btn-secondary"><i class="fas fa-camera"></i> {{ ear.confocal_images|length }}</button>
                        </li>
                    </a>
                {% endfor %}
                </ul>
                </div>
        </div>
        {% endif %}

        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                Notes
                <button class="btn btn-sm"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Edit animal notes"
                        onclick="openModal('{{ url_for('animals.edit_animal_note_modal', animal_id=animal.id) }}')"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">{{ animal.notes }}</div>
        </div>
    </div>

    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                Events
                <button class="btn btn-sm"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Add event"
                        onclick="openModal('{{ url_for('animals.create_animal_event_modal', animal_id=animal.id) }}')"><i class="fas fa-calendar"> +</i></button>
            </div>
            <div class="card-body">
                {{ macros.render_event_list(animal) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                Weight & Feed
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-sm"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Add baseline weight entry"
                            onclick="openModal('{{ url_for('animals.create_animal_baseline_weight_modal', animal_id=animal.id) }}')"><i class="fas fa-clipboard-check"></i></button>
                    <button class="btn btn-sm"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Add weight/feed entry"
                            onclick="openModal('{{ url_for('animals.create_animal_daily_log_modal', animal_id=animal.id) }}')"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive small">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Weight (g)</th>
                            <th>Feed (g)</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date, data in weight_history.items() %}
                        <tr>
                            <td>{{ date.strftime('%B %d, %Y') }}</td>
                            <td>{{ data.weight|int }}</td>
                            <td>{{ data.total_feed|round(1) }}</td>
                            <td>{{ data.notes }}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button class="btn btn-sm"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="Edit weight/feed entry"
                                            onclick="openModal('{{ url_for('animals.update_animal_daily_log_modal', animal_id=animal.id, date=date.strftime('%Y-%m-%d')) }}')"><i class="fas fa-pencil"></i></button>
                                    <button class="btn btn-sm"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="top"
                                            title="Delete weight/feed entry"
                                            onclick="openModal('{{ url_for('animals.delete_animal_daily_log_modal', animal_id=animal.id, date=date.strftime('%Y-%m-%d')) }}')"><i class="fas fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('input', function(event) {
        if (event.target.classList.contains('feed-quantity')) {
            const weight = document.getElementById(event.target.id.replace('quantity', 'feed_weight'));
            const total = document.getElementById(event.target.id.replace('quantity', 'total'));
            total.textContent = (weight.value * event.target.value).toFixed(1) + 'g';

            let total_food = 0;
            const quantities = document.querySelectorAll('.feed-quantity');
            quantities.forEach(el => {
                const weight = document.getElementById(el.id.replace('quantity', 'feed_weight'));
                total_food += (el.value * weight.value);
            });
            document.getElementById('feedings-all-total').textContent = total_food.toFixed(1) + 'g';

        };
    });
</script>
{% endblock %}