{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
Dashboard
{% endblock %}

{% set buttons = [
        ('breeding.list_breeding_pairs', 'fa-heart', 'Active Breeding Pairs', active_pairs),
        ('cages.list_cages', 'fa-box', 'Active Cages', active_cages),
        ('animals.list_animals', 'fa-paw', 'Active Animals', active_animals),
        ('histology.list_histology', 'fa-microscope', 'Unlabeled Ears', ears_to_process),
        ]
%}

{% block content %}
<div class="row mb-4">
    {% for (url, icon, label, info) in buttons %}
    <div class="col-md-6 col-lg-3">
        <div class="card shadow-sm h-100">
            <a href="{{ url_for(url) }}" class="stretched-link"></a>
            <div class="card-body p-4">
                <div class="d-flex align-items-top">
                    <i class="fas {{ icon }} fa-2x"></i>
                    <div class="ms-4">
                        <h3 class="small fw-bold text-uppercase mb-1">
                            {{ label }}
                        </h3>
                        <ul class="list-group">
                            {% for species, number in info %}
                                <li class="list-group-item">{{ species }} {{ number }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row mb-4">
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header">
                <i class="fas fa-calendar me-2"></i>Upcoming Schedule (overdue and next 7 days)
            </div>
            <div class="card-body">
                {% include "partials/upcoming_schedule.html" %}
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header"><i class="fas fa-weight-scale me-2"></i>Weights</div>
            <div class="card-body">
            {% include "partials/weight_table.html" %}
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-4">
        <div class="card shadow-sm">
            <div class="card-header">Upcoming Litters</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for litter in upcoming_litters %}
                    <li class="list-group-item">
                        {{ litter.pup_count }} pups {{  litter.age_in_days }} days old from {{ litter.breeding_pair.custom_id }}
                        <a class="stretched-link" href="{{ url_for('breeding.view_breeding_pair', breeding_pair_id=litter.breeding_pair.id) }}"></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card shadow-sm">
            <div class="card-header">Animals Without a Study</div>
            <div class="card-body">
                <div>{{ available_animals_n }} animals available for testing</div>
                <ul class="list-group">
                    {% for animal in unassigned_animals %}
                        <li class="list-group-item">
                            {{ animal.custom_id }}
                            <a class="stretched-link" href="{{ url_for('animals.view_animal', animal_id=animal.id) }}"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card shadow-sm">
            <div class="card-header">Recently Terminated</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for animal in recent_terminations %}
                        <li class="list-group-item">
                        {{ animal.display_id }} on {{ animal.termination_date.strftime('%B %d, %Y') }}
                        <a class="stretched-link" href="{{ url_for('animals.view_animal', animal_id=animal.id) }}"></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header">Images pending analysis</div>
            <div class="card-body">
                <ul class="list-group small">
                    {% for ear_group in image_analysis_pending|groupby('ear') %}
                        {% for type_group in ear_group.list|groupby('image_type.name') %}
                            <li class="list-group-item">
                            <a class="stretched-link" href="{{ url_for('histology.view_ear', ear_id=ear_group.grouper.id) }}"></a>
                            {{ ear_group.grouper.full_display }} {{ type_group.grouper }}
                            <div class="d-flex flex-wrap gap-1">
                            {% for image in type_group.list|sort(attribute='frequency') %}
                                <span class="badge rounded-pill text-bg-light border">{{ image.frequency }}</span>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-header">Images pending review</div>
            <div class="card-body">
                <ul class="list-group small">
                    {% for ear_group in image_analysis_review|groupby('ear') %}
                        {% for type_group in ear_group.list|groupby('image_type.name') %}
                            <li class="list-group-item">
                            <a class="stretched-link" href="{{ url_for('histology.view_ear', ear_id=ear_group.grouper.id) }}"></a>
                            {{ ear_group.grouper.full_display }} {{ type_group.grouper }}
                            <ul class="list-group list-group-horizontal small">
                                {% for image in type_group.list %}
                                    <li class="list-group-item">{{ image.frequency }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
