{% extends "base.html" %}

{% block header %}
Study {{ study.name }}
{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-8">
         <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h6 fw-bold text-uppercase text-secondary mb-0">
                    <i class="fas fa-paw me-2"></i>Animals in Study
                </h2>
                <span class="badge rounded-pill bg-primary-subtle text-primary border border-primary-subtle">
                    {{ study.animals.count() }} Enrolled
                </span>
            </div>

             <div class="card-body">
                {%  set animals=study.animals %}
                {%  set show_study_column = False %}
                {%  set show_termination_action = False %}
                {% include "partials/animal_table.html" %}
             </div>
         </div>
    </div>

    <div class="col-4">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="h6 fw-bold text-uppercase text-secondary mb-0">Description</h2>
                <button class="btn btn-sm" onclick="openModal('{{ url_for('studies.edit_study_modal', study_id=study.id) }}')"><i class="fas fa-pencil"></i></button>
            </div>
            <div class="card-body">
                {{ study.description }}
            </div>
        </div>
    </div>
</div>
{% endblock %}